# R project files
.Rproj.user
.Rhistory
.RData
statcheck.Rproj

# test materials
# can't share papers itself because of copyright restrictions
# only share csv files with summary results
inst/test_materials/*.pdf
inst/test_materials/*.html
inst/test_materials/*.txt