export(statcheck)
export(checkPDF)
export(checkPDFdir)
export(checkHTML)
export(checkHTMLdir)
export(checkdir)
export(statcheckReport)
S3method(plot,statcheck)
S3method(summary,statcheck)
S3method(identify,statcheck)
importFrom(tcltk,"tk_choose.dir")
importFrom(tcltk,"tk_choose.files")
import(plyr)
import(ggplot2)
import(rmarkdown)
importFrom("graphics", "abline", "identify", "legend", "par", "plot",
             "plot.default", "points", "text")
importFrom("stats", "as.formula", "pchisq", "pf", "pnorm", "pt")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")