export(statcheck)
export(checkPDF)
export(checkPDFdir)
export(checkHTML)
export(checkHTMLdir)
export(checkdir)
S3method(plot,statcheck)
S3method(summary,statcheck)
S3method(identify,statcheck)
importFrom(tcltk,"tk_choose.dir")
importFrom(tcltk,"tk_choose.files")
import(plyr)
import(ggplot2)
import(digest)