export(sn)
export(swp)
export(swst)
export(swstNP)
export(statcheck)
export(checkPDF)
export(checkPDFdir)
S3method(swst,anova)
S3method(swst,Anova.mlm)
S3method(swst,aov)
S3method(swst,default)
S3method(swst,htest)
S3method(swst,lm)
importFrom(tcltk,"tk_choose.dir")
import(plyr)